.editor {
  font-family: var(--fontStackCode);
  height: 100%;

  /* Change the behaviour of the 'react-simple-code-editor' to pass the scroll to the App component. */
  overflow: visible !important;
}

.editor textarea {
  outline: 0;
}
