body,
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg);
  font-family: var(--fontStack);
  font-size: var(--fontSize);
  text-rendering: optimizeLegibility;
}

img {
  max-width: 90%;
  vertical-align: middle;
}

/* Other */

.logo {
  align-items: center;
  border-color: transparent;
  border-image: initial;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 3rem;
  justify-content: center;
  line-height: 1.5;
  outline: 0;
  padding: 0.25rem 0.25rem;
  user-select: none;
  width: 3rem;

  & svg {
    filter: grayscale(100%);
  }

  &:hover svg {
    filter: grayscale(0);
  }

  &:focus {
    box-shadow: var(--colorFocus);
  }
}
