/* @see https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  /* Color Palette @see https='//en.wikipedia.org/wiki/List_of_video_game_console_palettes#NES */
  --color1A: #00a800;
  --color2A: #58d854;

  /* Colors */
  --colorLight: #f5f5f5;
  --colorDark: #252525;
  --colorPrimary: var(--color1A);
  --colorSecondary: var(--color2A);

  /* Focus */
  --colorFocus: rgba(0, 100, 255, 0.4) 0 0 0 0.2rem;

  /* Fonts */
  --fontStack: -apple-system, "blinkmacsystemfont", "segoe ui", "helvetica", "arial", sans-serif, "apple color emoji", "segoe ui emoji";
  --fontStackCode: "sfmono-regular", "consolas", "liberation mono", "menlo", "inconsolata", "operator", "monaco", "courier new", courier, monospace;
  --fontSize: 16px;
}

/* Apple dark theme support */

/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */
